<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>industrybatch</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.royal.controller.FirstServlet</servlet-class>
    <init-param>
      <param-name>C</param-name>
      <param-value>Dennnies M Ritchie</param-value>
    </init-param>
    <init-param>
      <param-name>C++</param-name>
      <param-value>Bjarne Stroustrup</param-value>
    </init-param>
    <init-param>
      <param-name>Java</param-name>
      <param-value>James Gosling</param-value>
    </init-param>
    <init-param>
      <param-name>Python</param-name>
      <param-value>Guido Van Rossum</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.royal.controller.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>step1</param-name>
    <param-value>CLanguage</param-value>
  </context-param>
  <context-param>
    <param-name>step2</param-name>
    <param-value>C++Language</param-value>
  </context-param>
  <context-param>
    <param-name>step3</param-name>
    <param-value>JavaLanguage</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ThirdServlet</display-name>
    <servlet-name>ThirdServlet</servlet-name>
    <servlet-class>com.royal.controller.ThirdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdServlet</servlet-name>
    <url-pattern>/ThirdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstAttributeServlet</display-name>
    <servlet-name>FirstAttributeServlet</servlet-name>
    <servlet-class>com.royal.controller.FirstAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstAttributeServlet</servlet-name>
    <url-pattern>/FirstAttributeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondAttributeServlet</display-name>
    <servlet-name>SecondAttributeServlet</servlet-name>
    <servlet-class>com.royal.controller.SecondAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondAttributeServlet</servlet-name>
    <url-pattern>/SecondAttributeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdAttributeServlet</display-name>
    <servlet-name>ThirdAttributeServlet</servlet-name>
    <servlet-class>com.royal.controller.ThirdAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdAttributeServlet</servlet-name>
    <url-pattern>/ThirdAttributeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.royal.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.royal.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstApplicationScopeAttribute</display-name>
    <servlet-name>FirstApplicationScopeAttribute</servlet-name>
    <servlet-class>com.royal.controller.FirstApplicationScopeAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstApplicationScopeAttribute</servlet-name>
    <url-pattern>/FirstApplicationScopeAttribute</url-pattern>
  </servlet-mapping>
</web-app>